---
import Layout from '../layouts/Layout.astro';
import SiembraPost from '../components/SiembraPost.astro'
---

<Layout title="Siembra">
	<main class="space-y-40 mb-40">
		<SiembraPost/>
	</main>
</Layout>