---
import Container from "./Container.astro"

---

<div id="blog">
  <Container>      
      <div class="pt-24">
        <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
          <div class="relative overflow-hidden rounded-xl">
            <img src="./images/projects/siembra.jpeg"
            alt="art cover" loading="lazy" width="1000" height="667" class="w-full object-cover object-top transition duration-500 group-hover:scale-105"/>
          </div>
          <div class="mt-6 relative">
            <h3 class="text-3xl font-semibold text-gray-800 dark:text-white">
              Siembra - Habit Tracker
            </h3>
            <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
              Worked with early stage startup in building their initial MVP and iterating app features based on customer feedback. 
              Worked with early stage startup in building their initial MVP and iterating app features based on customer feedback.
              Worked with early stage startup in building their initial MVP and iterating app features based on customer feedback.
              Worked with early stage startup in building their initial MVP and iterating app features based on customer feedback.
              Worked with early stage startup in building their initial MVP and iterating app features based on customer feedback.
              Worked with early stage startup in building their initial MVP and iterating app features based on customer feedback.
              Worked with early stage startup in building their initial MVP and iterating app features based on customer feedback.
              Worked with early stage startup in building their initial MVP and iterating app features based on customer feedback.
              Worked with early stage startup in building their initial MVP and iterating app features based on customer feedback.
              Worked with early stage startup in building their initial MVP and iterating app features based on customer feedback.
              Worked with early stage startup in building their initial MVP and iterating app features based on customer feedback.
              Worked with early stage startup in building their initial MVP and iterating app features based on customer feedback.
            </p>
          </div>
          
        </div>

          
        </div>

      </div>
  </Container>
</div>